langchain
python-dotenv
ipykernel
langchain-community
pypdf
pymupdf
langchain-text-splitters
langchain-openai
pandas
openai
langchain-groq
youtube_transcript_api
unstructured
pytube
validators==0.28.1
